html {
    font-size: 16px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #333;
    color: white;
    /* padding: 1rem; */
    text-align: center;
    width: 100%;
    padding: 0;
    gap: 1rem;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

section {
    max-height: 400px;
}

.header a {
    display: flex;
    padding-left: 1.5rem;
    text-decoration: none;
    color: white;

}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.25rem;
}

.nav ul {
    display: inline-flex;
    gap: 1rem;
    padding: 0;
}

.nav li {
    list-style: none;
    padding: 0;
}

.hero {
    grid-row: 1 / 1;
    grid-column: 1 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}

/* About section */

.about {
    grid-row: 2 / 2;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #333;
    border-color: black;
    border-radius: 0.5rem;
    color: #f5f5f5;

}

.about-image {
    grid-row: 2 / 2;
    grid-column: 3 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}

/* Progress section */

.progress {
    grid-row: 3 / 3;
    grid-column: 1 / 5;
    display: grid;
    /* align-items: center;
    justify-content: center;
    text-align: center; */
    background-color: #d2d2d2;
    border-color: black;
    border-radius: 0.5rem;
    color: #323131;
}

.progress ul {
    list-style-type: none;
}

.progress img {
    height: 3rem;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}

.progress-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.progress-content h2 {
    font-size: 2rem;
    padding: 0;
    text-align: center;
    margin: auto 0;
}

.progress-content ul {
    text-align: center;
    margin: auto 0;
}

.progress-content li {
    background-color: #909090b9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.icon {
    margin: auto 0;
}